.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFAF6;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.task_text {
  display: inline-block;
  color: #191919;
  font-size: 20px;
}

.delete_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.3s;
}

.delete_btn img {
  display: block;
  width: 100%;
}