.add_task_form {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.addTaskInput {
  display: inline-block;
  width: 400px;
  height: 40px;
  margin-right: 20px;
  padding: 10px 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  color: #191919;
  border: none;
  outline: none;
  vertical-align: middle;
}

.add_btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #FF7F3F;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.3s;
}

.add_btn:hover {
  background-color: #EA5C2B;
}
