.App {
  max-width: 1000px;
  margin: 0 auto;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EA5C2B;
}

.tasks_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.tasks {
  width: 47%;
}

.title {
  margin-bottom: 20px;
  color: #191919;
}
